{% extends "::base.html.twig" %}

{% block title %}AppBundle:RequestServices:data{% endblock %}

{% block body %}
<h1>Welcome to the RequestServices:data page</h1>
    {{ form(form) }}
{% endblock %}
